@import url('./header.css');
:root {
    --TitleColor: #292929;
    --TextColor: #8E8A7F;
    --TextColor2: #5A5444;
}

body {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 1rem;
    /* border: 1px solid red; */
}

.break {
    display: none;
}

.u-p {
    color: var(--TextColor);
    font-size: 1rem;
}

.welcome-banner {
    transition: linear .4s all;
    height: 0;
    overflow: hidden;
}

.welcome-banner p {
    margin: 0;
    padding: 10px 30px;
    background: black;
    color: whitesmoke;
    font-weight: 400;
    text-align: center;
}

.welcome-banner.active {
    height: 75px;
}

.welcome-banner a {
    color: whitesmoke;
}

#menu-check {
    display: none;
}

@media screen and (min-width: 540px) {
    .welcome-banner p {
        padding: 10px 0;
        font-size: 0.875rem;
    }
    .break {
        display: block;
    }
    .welcome-banner.active {
        height: 52px;
    }
}